.btn{
  padding: 10px;
  margin: 20px;
  max-width: 100px;
  color: #fff;
  border: 1px solid var(--sexy-blue);
  font-size: 12px;
}
.btn:hover{
  background: #333;
  /* color: #0066ff;
  border: 1px solid #0066ff;
  cursor: pointer; */
}
.modal{
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  height: 50%;
  width: 50%;
  margin-left: 30px;
  margin-top: 150px;
  overflow: auto;
  color: #fff;
  background-color: rgba(0,0,0,0.5);
}
.close{
  padding: 2px;
  /* position: absolute;
  top: 5px;
  right: 4px;
  height: 20px; */
  background:var(--sexy-blue);
  color: #fff;
  cursor: pointer;
}
